html, body {
    background-color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    /*All elements in body are now CSS flex elements*/
    display: flex;

    flex-direction: column;
    height: 100vh;
    width: 100vw;

    /*Remove slight oversizing to get rid of un-necessary
    scroll bar*/
    overflow: hidden;
}

/*Conatins all visible page contents - organizes into grid*/
.container {
    /*The main grid layout of the page*/
    display: grid;
    flex: 1 1 auto;
    
    grid-template-rows: 3em 3fr auto 5fr 2.5em;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-areas: 
    "header header header"
    "back-left logo back-right"
    "back-left search back-right"
    "back-left buttons back-right"
    "footer footer footer";

    
}

/*Container for header links*/
.item1 {
    grid-area: header;
    background-color:#FFF;
    color: white;
    
}

.header-links {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.header-1 {
    justify-self: flex-start;
    width: 15em;
    background-color: #FFF;
    align-items: center;
    display: flex;
    
}

.header-2 {
    justify-self: flex-end;
    width: 20em;
    background-color: #FFF;
    
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right: 30px;
}

.header-items {
    margin: 10px;
    padding: 0;

}

.header-links {
    text-decoration: none; 
    color:black;
}

/*Creates underline effect for each individual link
when moused over*/
.header-links1:hover {
    text-decoration: underline;
}
.header-links2:hover {
    text-decoration: underline;
}
.header-links3:hover {
    text-decoration: underline;
}
.header-links4:hover {
    text-decoration: underline;
}

.settings-button {
    width: 1.5em;
    opacity: .70;
}
.settings-button:hover {
    /*box-shadow: 0px 0px 5px #AAA;*/
    /*darken box when user mouseover*/
    opacity: 1.0;
}

.login-button {
    color: white;
    background-color: #4285f4;
    font-size: 14px;
    width: 75%;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 3px;
    

}

/*Container for Google logo image*/
.item2 {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    background-color: #FFF;
}

/*Container for the search bar*/
.item3 {
    grid-area: search;
    background-color: #FFF;
    color: white;
    border-style: solid;
    border-color: #DDD;
    border-width: 2px;
    border-radius: 20px;
   
}

.item3:hover {
    box-shadow: 0 1px 10px rgba(32,33,36,.28);
    border-color:#CCC;
}

/*wraps around text input and images in search bar*/
.search-bar {
    display: grid;
    grid-template-rows: 3em;
    grid-template-columns: 1fr 10fr 1fr;
    grid-gap: 0px;
    gap: 0px;
    flex-grow: 1;
}

.text-input {
    border: none;
    font-family: sans-serif;
    font-size: 100%;
}

.text-input:focus {
    border: none;
    outline: none;
}


.search-image {
    justify-self: center;
    align-self: center;
    max-width: 80%;
    max-height: 80%;
    display: block;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 5px;
    border-color: #BBB;
    margin-right: 0px;
    
}

.audio-image {
    justify-self: center;
    align-self: center;
    max-width: 80%;
    max-height: 80%;
    display: block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px;
    /*Audio image was clipped with the bottom thicker than
     the top so I scooted it down slightly to compensate */
    position: relative;
    top: 5px;
}

/*Container for seach and "I'm Feeling Lucky" button */
.item4 {
    grid-area: buttons;
    background-color: black;
    color: white;
}

/*Container for footer links*/
.item5 {
    grid-area: footer;
    background-color: #f2f2f2;
}

